@{
    ViewBag.Title = "Hobbies";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Mes hobbies</h1>
<ul class="toto">
    <li>Dormir</li>
    <li>Manger</li>
    <li>Les câlinounouuuux </li>
</ul>