@{
    ViewBag.Title = "Home Page";
}

<div class="toto">
    <h1>Cat-Gloglo</h1>
    <p class="lead">Un application pour l'amour des chats </p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Athena </h2>
        <img  src="~/images/chat.jpg" class="cat"/>
        
    </div>
    <div class="col-md-4">
        <h2>Myu</h2>
        <img src="~/images/myu.jpg" class="cat"/>
    </div>
    <div class="col-md-4">
        <h2>Nickel</h2>
        <img src="~/images/nickel.jpg" class="cat" />
    </div>
</div>